<div class="page-header">
	<h2> Translate Job - Comics - </h2>
</div>
<!-- <div class="row" > -->
<div id="">
	<% @comics.each do |c| %>
		<h3><a href="/trans/<%= c %>"><%= c %></a></h3>
	<% end %>
</div>
<!-- </div> -->