<h2 class="pageTitle"> Translate Job - Comics - </h2>

<!-- <div class="row" > -->
	<div id="content">
		<% @comics.each do |c| %>
			<h3><a href="/trans/<%= c %>"><%= c %></a></h3>
		<% end %>
	</div>
<!-- </div> -->