<h2 class="pageTitle"> Translate Job - Comics > Vols -</h2>
<div id="content">
	<h3><%=@comic_name%></h3>
	<% @vols.each do |v| %>
		<h4><a href="/trans/<%= @comic_name %>/<%= v %>"><%= v %></a><br></h4>
	<% end %>
</div>