<div class="page-header">
	<h2> Translate Job - Comics > Vols </h2>
</div>
<div id="">
	<h3><%=@comic_name%></h3>
	<% @vols.each do |v| %>
		<h4><a href="/trans/<%= @comic_name %>/<%= v %>"><%= v %></a><br></h4>
	<% end %>
</div>