	<h1 class="pageTitle"> About CoccoT </h1>
	<% @readme.each do |l|%>
		<p><%= l %></p>
	<% end %>
   <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>