<div class="page-header">
	<h1> Hello! Welcome to CoccoT </h1>
</div>
<div class="">
	<div class=""></div>
	<p>This is a simple <code>hero unit</code>, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
	<p>
		<a class="btn btn-primary btn-large" href="/comic">Learn more</a>
	</p>
</div>