<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CccT</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
		<link rel="shortcut icon" href="/favicon.ico">
	    <link rel="canonical" href="http://ccct.org/">

	</head>
	
	<body class="container">

		<div class="navbar navbar-fixed-top">
		      <div class="navbar-inner">
		        <div class="container">
		          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		            <span class="icon-bar"></span>
		          </a>
		          <a class="brand" href="/">Comic Commentary</a>
		          <div class="nav-collapse">
		            <ul class="nav">
		            	<li class="active"><a href="/">Home</a></li>
		            	<li><a href="/comic">Comic List</a></li>
		            	<% if session.has_key?("login_id")  %>
		          		<li><a href="/trans" class="">Translate Job</a></li>
		             	<% end %>
		             	<li><a href="/about">About</a></li>
		            </ul>
		          	<ul class="nav pull-right">
		          		<% if session.has_key?("login_id")  %>
		          		<li><div id="hello_user">
		          			<%= "Hi ! #{session["login_id"]} " %>
		          		</div>
		          		</li>
		          		<li><a href="/logout">Logout</a></li>
		          		<% else %>
		           	 	<li><a href="/login">Login</a></li>
		             	<% end %>
		             	<li><a href="/regist">Regist</a></li>
		            </ul>
		           </div>
		        </div>
		      </div>
		</div>

      	<div id="content-main" >
      		<%= yield %>
    	</div>

		<hr class="soften">

		<footer>Copyright &copy;<a href='http://ccct.org'/>CCCT</a> 2012</footer>

	</body>

	<!-- asdf -->
    <script src="/js/jquery-1.7.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</html>