<div class="page-header">
    <h2>Login</h2>
</div>

<form action="/login" method="POST">
    <table>
        <tr> 
            <td>Login id</td>
            <td><input class="span2" name="id" type="text" value=""></td>
        </tr>
        <tr> 
            <td>Password</td>
            <td><input class="span2" name="pw" type="password" value=""></td>
        </tr>
        <tr> 
            <td></td>
            <td><input class="span2 btn btn-primary" type="submit" value="Login"></td> 
        </tr>
    </table>
</form>