<div class="page-header">
	<h2>Register</h2>
</div>
<form action="/register" method="POST">
	<table>
		<tr> 
			<td>Login id</td>
			<td><input class="span2" name="id" type="text" value=""></td>
		</tr>
		<tr> 
			<td>Password</td>
			<td><input class="span2" name="pw" type="password" value=""></td>
		</tr>
		<tr> 
			<td>Password(repeat)</td>
			<td><input class="span2" name="pw_repeat" type="password" value=""></td>
		</tr>
		<tr> 
			<td></td>
			<td><input class="span2 btn btn-primary" type="submit" value="Register"></td> 
		</tr>
	</table>
</form>