<div class="page-header">
    <h2>Vols List</h2>
</div>
<div>
    <p><h3><%=@comic_name%></h3></p>
    <% @vols.each do |v| %>
    <ul class="nav nav-pills nav-stacked">
        <li><a href="/comic/<%= @comic_name %>/<%= v %>"><%= v %></a></li>
    </ul>   
    <% end %>
</div>