<div class="page-header">
	<h1>
		CoccoT<small>ccct</small>
	</h1>
</div>
<div class="">
	<p>
		<strong style="font-size: 20px;text-decoration:line-through;">漫画？！</strong>
		<strong style="font-size: 30px;">慢画？！</strong>
		一点也不慢！！ 很快，	
		<strong style="font-size: 50px;">快</strong><strong style="font-size: 30px;">画</strong>
	</p>
	<p>
		<a class="btn btn-primary btn-large" href="/m/about">Learn more</a>
	</p>
</div>