<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CccT</title>
		<!-- <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css"/> -->
		<link rel="stylesheet" type="text/css" href="/lib/jquery-mobile/css/jquery.mobile-1.1.1.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/mobile.css"/>
		<link rel="shortcut icon" href="/favicon.ico">
	    <link rel="canonical" href="http://ccct.org/">
	    
	</head>
	
	<body　class="ui-mobile-viewport ui-overlay-c">
		<div data-role="page" data-theme="c" data-url="home"class="ui-page ui-body-s ui-page-active" style="min-height: 295px; ">
			<div data-role="header" data-theme="c">
				<h1>Page Title</h1>
				<a href="#" data-icon="custom" class="ui-btn-right">Login</a>
			</div>
	 
	      	<div data-role="content" class="m-content" id="content-main">
	      		<%= yield %>
	    	</div>

			<div data-role="footer" class="footer-docs ui-footer ui-bar-c" data-theme="c" role="contentinfo">
				<p>Copyright &copy;<a href='http://ccct.org'/ rel="external">CCCT</a> @2012</p>
			</div>
		</div>
	</body>

	<!-- asdf -->
    <script src="/lib/jquery/js/jquery-1.7.2.min.js"></script>
    <!-- // <script src="/lib/bootstrap/js/bootstrap.min.js"></script> -->
    <script src="/lib/jquery-mobile/js/jquery.mobile-1.1.1.min.js"></script>

</html>