<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CccT</title>
		<!-- <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css"/> -->
		<link rel="stylesheet" type="text/css" href="/lib/jquery-mobile/css/jquery.mobile-1.1.1.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/mobile.css"/>
		<link rel="shortcut icon" href="/favicon.ico">
	    <link rel="canonical" href="http://ccct.org/">
	    
	</head>
	
	<body　class="ui-mobile-viewport ui-overlay-c">
		<div data-role="page" data-theme="s" data-url="home"class="ui-page ui-body-s ui-page-active" style="min-height: 295px; ">
 
		<div data-role="header" class="header ui-header ui-bar-s" role="banner">
			<!-- <h1 class="ui-title" role="heading" aria-level="1">Header</h1> -->
			<a href="/m" title="Home" class="icons logo ui-btn-left ui-btn ui-btn-up-s ui-shadow ui-btn-corner-all" rel="external" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="s">
				<span class="ui-btn-text ui-btn-corner-all">
					<!-- <img src="favicon.ico"> -->
				</span>
			</a>
      			
      			<a href="/m/login" data-icon="gear" class="ui-btn-right">login</a>
		 	</div>

 
      	<div data-role="content" class="m-content" id="content-main">
      		<%= yield %>
    	</div>

		<div data-role="footer" class="footer-docs ui-footer ui-bar-c" data-theme="c" role="contentinfo">
			<p>Copyright &copy;<a href='http://ccct.org'/>CCCT</a> @2012</p>
		</div>

		</div>


	</body>

	<!-- asdf -->
    <script src="/lib/jquery/js/jquery-1.7.2.min.js"></script>
    <!-- // <script src="/lib/bootstrap/js/bootstrap.min.js"></script> -->
    <script src="/lib/jquery-mobile/js/jquery.mobile-1.1.1.min.js"></script>

</html>