
<div class="contentHeader">
  <h2> TranPages List</h2>
</div>

<div class="">
  <div class="comic-content">
    <div class="addition-css">
      <link rel="stylesheet" type="text/css" 
      href="/trans/content/<%= @comic_name%>/<%= @vol%>/<%= @page %>.css">
    </div>

    <div class="trans-content">
      <%if File.exist? (@translate_path+".erb") %>
        <%File.open(@translate_path+".erb").each do |l|%>
        <%= l %>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <div class="ad"></div>
</div>

<div data-role="footer" class="ui-bar">
  <a href="#" data-role="button" data-icon="plus">Vol-Home</a>
  <a href="#" data-role="button" data-icon="arrow-u">Prev</a>
  <a href="#" data-role="button" data-icon="arrow-d">Next</a>
</div>
